# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.ipch
*.tlog
*.suo


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
.vs/RTS Solution/v15/Browse.VC.opendb
.vs/RTS Solution/v15/Browse.VC.db
.vs/RTS Solution/v15/Browse.VC.db
.vs/RTS Solution/v15/Browse.VC.db
RTS Project code/Game/vc141.pdb
RTS Project code/Game/vc141.idb
.vs/RTS Solution/v15/Browse.VC.db
Debug/Motor 2D.ilk
Debug/Motor 2D.pdb
.vs/RTS Solution/v15/Browse.VC.db

RTS Project/Development Platformer/Debug/Motor 2D.ilk
RTS Project/Development Platformer/Debug/Motor 2D.pdb
RTS Project/Development Platformer/Game/Motor2D.log
RTS Project/Development Platformer/Game/vc141.pdb
RTS Project/Development Platformer/Game/vc142.pdb
RTS Project code/Game/vc141.idb
RTS Project code/Game/vc141.pdb
RTS Project code/Game/vc141.idb
RTS Project code/Game/Motor2D.log
RTS Project code/Game/Motor 2D.tlog/Motor 2D.lastbuildstate
RTS Project code/Game/Motor 2D.tlog/link.write.1.tlog
RTS Project code/Game/Motor 2D.tlog/link.read.1.tlog
RTS Project code/Game/Motor 2D.tlog/link.command.1.tlog
RTS Project code/Game/Motor 2D.tlog/CL.write.1.tlog
RTS Project code/Game/Motor 2D.tlog/CL.read.1.tlog
RTS Project code/Game/Motor 2D.tlog/CL.command.1.tlog
Debug/Motor 2D.pdb
Debug/Motor 2D.ilk
