<!-- Config file for the game -->

<config>
  <app framerate_cap="60" frame_cap_on="1">
    <title>RTS Project</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="1"/>
    <camera x ="1550" y ="-600" smoothing_speed ="0.01f"/>
    <spawn_cam x ="0" y ="-570"/>
    <camera_debug value="false" speed="400.0f"/>
  </renderer>
  
  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
      <folder>Assets/audio/music/</folder>
      <volume value = "70"/>
      <volume_fx value="21"/>
      <distance scale="425"/>
  </audio>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <debug>
    <textures>
      <mouse_tile_debug       path="Assets/maps/mouse_tile_debug.png"/>
      <entity_map_tile_debug  path="Assets/maps/entity_map_tile_debug.png"/>
      <occupied_tile_debug    path="Assets/maps/occupied_tile_debug.png"/>
      <path_tile_debug        path="Assets/maps/path_tile_debug.png"/>
      <center_position_debug  path="Assets/maps/center_position_debug.png"/>
    </textures>
  </debug>
  
  <map>
    <folder>Assets/maps/</folder>
    <layers>
      <bg_parallax_speed speed="0.05f"/>
      <first_parallax_speed speed ="0.70f"/>
      <decor_parallax_speed speed ="0.9f"/>
    </layers>
  </map>

  <fog_of_war>
    <fow_tex path="Assets/maps/fog_of_war_spritesheet.png"/>
  </fog_of_war>
  
  <player>
    <god_mode value="0"/>                                       <!--bools that are represented as either 0 (false) or 1 (true)-->
    <has_saved value="0"/>
    <load_game_from_main_menu value="0"/>
    <is_selecting value="0"/>
    <mouse_tile_tex path="Assets/maps/mouse_tile_debug.png"/>

    <building_system>
      <is_building value="0"/>
      <building_preview value="0"/>
      <can_build value="1"/>
      <construct_building value="0"/>                           <!--bools that are represented as either 0 (false) or 1 (true)-->
      <townhall_size size ="3"/>
      <barracks_size size ="2"/>
      <wall_size size ="1"/>
      <townhall_section x="0" y="0" w="155" h="138"/>
      <barracks_section x="0" y="0" w="106" h="95"/>
      <wall_section x="0" y="0" w="0" h="0"/>
      <building_type type="0"/>
      <townhall_build_texture path="Assets/entities/ally_building_townhall.png"/>
      <barracks_build_texture path="Assets/entities/ally_building_barracks.png"/>
      <wall_build_texture path="Assets/entities/ally_building_wall_placeholder.png"/>
      <buildable_tile_texture path="Assets/maps/buildable_tile.png"/>
      <non_buildable_tile_texture path="Assets/maps/non_buildable_tile.png"/>
    </building_system>
    
    <camera>
      <speed x="700.0f" y="700.0f"/>
      <original_position x="2800" y="-3150"/>
      <x_axis_limit left="-50" right="3200"/>
      <y_axis_limit top="-3650" bottom="-1000"/>
    </camera>

    <game_controller>
      <cursor_speed x="500.0f" y="500.0f"/>
    </game_controller>

    <cursor_sections>
      <idle             x="501" y="54" w="20" h="24"/>
      <hover_ally       x="581" y="54" w="20" h="24"/>
      <hover_enemy      x="541" y="54" w="20" h="24"/>
      <hover_resource   x="561" y="54" w="20" h="24"/>
      <hover_UI         x="541" y="54" w="20" h="24"/>
      <clicked_idle     x="501" y="78" w="20" h="24"/>
      <clicked_ally     x="581" y="78" w="20" h="24"/>
      <clicked_enemy    x="541" y="78" w="20" h="24"/>
      <clicked_resource x="561" y="78" w="20" h="24"/>
      <clicked_UI       x="541" y="78" w="78" h="24"/>
    </cursor_sections>
  </player>

  <gui>
    <atlas file="Assets/gui/UI_HUD.png"/>

    <backgrounds>
      <logo_scene                   path="Assets/gui/backgrounds/logo_scene_missingmd_background.png"/>
      <logo_scene_team_logo         path="Assets/gui/backgrounds/missing_logo.png"/>
      <main_menu_scene              path="Assets/gui/backgrounds/main_menu_scene_background.png"/>
      <options_scene                path="Assets/gui/backgrounds/options_scene_background.png"/>
      <gameplay_scene               path="Assets/gui/backgrounds/gameplay_scene_background.png"/>
      <minimap                      path="Assets/gui/backgrounds/gameplay_scene_minimap_background.png"/>
      <win_scene                    path="Assets/gui/backgrounds/win_scene_background.png"/>
      <lose_scene                   path="Assets/gui/backgrounds/lose_scene_background.png"/>
    </backgrounds>

    <fonts>
      <arial                        path="Assets/gui/fonts/arial.ttf"/>
      <borgsquadcond                path="Assets/gui/fonts/borgsquadcond.ttf"/>
      <copper_plate_bold_italic     path="Assets/gui/fonts/copper_plate_bold_italic.ttf"/>
      <future_now                   path="Assets/gui/fonts/future_now.ttf"/>
      <kenvector_future             path="Assets/gui/fonts/kenvector_future.ttf"/>
      <major_mono_display           path="Assets/gui/fonts/major_mono_display.ttf"/>
      <minecraftia_regular          path="Assets/gui/fonts/minecraftia_regular.ttf"/>
      <old_school_adventures        path="Assets/gui/fonts/old_school_adventures.ttf"/>
      <open_sans_bold_italic        path="Assets/gui/fonts/open_sans_bold_italic.ttf"/>
    </fonts>
    
    <fx>
      <new_game_button_clicked      path="Assets/audio/fx/gui/new_game_button_clicked.wav"/>
      <options_button_clicked       path="Assets/audio/fx/gui/options_button_clicked.wav"/>
      <back_button_clicked          path="Assets/audio/fx/gui/back_button_clicked.wav"/>
      <main_menu_button_clicked     path="Assets/audio/fx/gui/main_menu_button_clicked.wav"/>
      <pause_menu_button_clicked    path="Assets/audio/fx/gui/pause_menu_button_clicked.wav"/>
      <standard_button_clicked      path="Assets/audio/fx/gui/standard_button_clicked.wav"/>
      <upgrade_button_clicked       path="Assets/audio/fx/gui/upgade_button_clicked.wav"/>
      <recruit_unit_button_clicked  path="Assets/audio/fx/gui/recruit_unit_button_clicked.wav"/>
      <no_resources                 path="Assets/audio/fx/gui/no_resources.wav"/>

      <cursor_click path=""/>
    </fx>
  </gui> 
  
  <scenes>
    <map_name name="gameplay_map.tmx"/>

    <fx>
      <logo_scene_background_noise  path="Assets/audio/fx/scenes/logo_scene_background_noise.wav"/>
    </fx>
      
    <music>
      <logo_scene       path=""/>
      <main_menu_scene  path="Assets/audio/music/main_menu_theme.ogg"/>
      <options_scene    path="Assets/audio/music/options_scene_theme.ogg"/>
      <gameplay_scene   path="Assets/audio/music/gameplay_scene_theme_3.ogg"/>
      <win_scene        path="Assets/audio/music/win_scene_theme.ogg"/>
      <lose_scene       path="Assets/audio/music/lose_scene_theme.ogg"/>
    </music>
  </scenes>
</config>