<!-- Config file for the game -->

<config>
  <app framerate_cap="60" frame_cap_on="true">
    <title>Mutual Cooperation</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
    <camera x ="0" y ="-570" smoothing_speed ="0.01f"/>
    <spawn_cam x ="0" y ="-570"/>
    <camera_debug value="false" speed="400.0f"/>
  </renderer>
  
  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
      <folder>audio/music/</folder>
      <volume value = "70"/>
    <volume_fx value="26"/>
  </audio>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <layers>
      <bg_parallax_speed speed="0.05f"/>
      <first_parallax_speed speed ="0.70f"/>
      <decor_parallax_speed speed ="0.9f"/>
    </layers>
  </map>

  <entities>
    <player>
      <speed x="350.0f" y="0"/>
      <max_speed x="240.0f" y="700.0f"/>                 <!--500.0f-->  <!--1000.0f-->
      <acceleration x="60.0f" y="450.0f"/>               <!--625.0f-->
      <gravity value="1200.0f"/>
      <boost_jump x="0"  y="650.0f" threshold="1000"/>   <!--700.0f--> <!--950.0f-->
      <frontflip start="-75.0f" end="75.0f"/>
      <sprite_size w="38" h="58"/>
      <lives lives="3"/>
      <points points="0"/>
      <tpCooldown timer="0.0f" cd="1.0f"/>
      <godspeed gspeed ="450.0f"/>
      <jumpFX name ="Jump.wav"/>
      <DuoJumpFX name ="Jump_Duo.wav"/>
      <DeathFX name ="Death.wav"/>
      <ActivateFX name = "Activate.wav"/>
      <TPFX name = "TP.wav"/>
      <PassFX name = "Pass.wav"/>

      <player_1 name="player_1">
        <factoryMap mapName="factoryMap" x="192.0f" y="400.0f"/>
        <forestMap mapName="forestMap" x="192.0f" y="1088.0f"/>
      </player_1>

      <player_2 name="player_2">
        <factoryMap mapName="factoryMap" x="182.0f" y="400.0f"/>
        <forestMap mapName="forestMap" x="182.0f" y="1088.0f"/>
      </player_2>
    </player>

    <enemies>
      <update_cycle_length length="0.1f"/>
      <mecha>
        <position x="199" y="400"/>
        <speed x="125.0f" y="0"/>
        <max_speed x="240.0f" y="500.0f"/>
        <acceleration x="60.0f" y="450.0f"/>
        <gravity value="40.0f"/>
        <sprite_size w="56" h="78"/>
        <points value ="100"/>
        <lives lives="1"/>
        <detection_radius radius="125"/>
      </mecha>

      <alien>
        <position x="212" y="400"/>
        <speed x="200.0f" y="125.0f"/>
        <sprite_size w="38" h="52"/>
        <points value ="75"/>
        <lives lives="1"/>
        <detection_radius radius="125"/>
        <update_cycle_length length="0.1f"/>
      </alien>
    </enemies>

    <items>
      <coin>
        <position x ="0" y ="0"/>
        <sprite_size w="32" h="32"/>
        <points value ="10"/>
      </coin>
    </items>
  </entities>

  <gui>
    <atlas file="textures/Spritesheets/UI/UI_sprites_resized1.png"/>
    <!--<atlas file="textures/Spritesheets/UI/atlas.png"/>-->
    <fx_button>audio/fx/Mouse Click.wav</fx_button>
  </gui>

  <scene_menu>
    <audio path="Background music.ogg"/>
  </scene_menu>
    
  <scene>
    <map_name name="Test_map.tmx"></map_name>
    <map_name name="Test_map_2.tmx"></map_name>
    <audio path="Combat Heavy.ogg"/>
    <audio2 path="Background music.ogg"/>
    <audio3 path="menu_music.ogg"/>
    <fade_time value="1"/>
  </scene>

  <console>
    <!--Console Background Variables-->
    <bg_position x="0" y="0"/>
    <bg_rect x="0" y="0" w="1024" h="256"/>     <!--256-->
    <bg_isVisible value="false"/>
    <bg_isInteractible value="false"/>
    <bg_isDraggable value="false"/>
    <bg_colour r="0" g="0" b="0" a="180"/>
    
    <!--Console Output Variables-->
    <output_position x="20" y="20"/>
    <output_rect x="0" y="0" w="1024" h="216"/>
    <output_font_path path="fonts/Minecraftia-Regular.ttf"/>
    <output_font_size size="18"/>
    <output_font_colour r="255" g="255" b="255" a="255"/>
    <output_isVisible value="false"/>
    <output_isInteractible value="false"/>
    <output_isDraggable value="false"/>

    <!--Console Input Variables-->
    <input_position x="20" y="152"/>
    <input_rect x="0" y="0" w="1024" h="40"/>
    <input_font_path path="fonts/Minecraftia-Regular.ttf"/>
    <input_font_size size="20"/>
    <input_font_colour r="255" g="255" b="255" a="255"/>
    <cursor_rect x="0" y="0" w="3" h="30"/>
    <cursor_colour r="255" g="255" b="255" a="255"/>
    <input_text_offset x="0" y="8"/>
    <cursor_blinkFrequency frequency="0.5f"/>
    <input_isVisible value="false"/>
    <input_isInteractible value="true"/>
    <input_isDraggable value="false"/>

    <!--Console Scrollbar Variables-->
    <scroll_position x="0" y="0"/>
    <scrollbar_rect x="0" y="0" w="20" h="256"/>
    <thumb_rect x="1291" y="56" w="20" h="20"/>
    <thumb_offset x="0" y="0"/>
    <drag_area x="0" y="0" w="1024" h="256"/>
    <drag_factor factor="0.2f"/>
    <drag_x_axis value="false"/>
    <drag_y_axis value="true"/>
    <inverted_scrolling value="true"/>
    <scroll_isVisible value="false"/>
    <scroll_isInteractible value="false"/>
    <scroll_isDraggable value="false"/>
  </console>
</config>