# This is a basic workflow to help you get started with Actions

name: CD - Project F

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
 

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
   

    steps:
    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    - uses: marvinpinto/action-automatic-releases@v1.0.0
      with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          draft: true
          title: "Development Build"
          files: |
            README.md
            LICENSE.md
            '**/Game/**'
            !*.obj
            !*.ibd
            !*.pdb
            
            
